{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>We Share</h1>
    <p class="lead">We Share is a great Web sites to share your things with your neighbours. Register and get 100 karma points.</p>
    <p><a href="/home" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register and create an account. After registering you will get 100 karma points. Register the 
            things that you want to share with others. If you need any item, you can get it by offering your
            karma points. If others use your item, you will get karma points.
        </p>
        <p><a class="btn btn-default" href="/home">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sharing is Caring</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
